common --enable_platform_specific_config
common --@rules_zig//zig/settings:use_cc_common_link=true
common --@rules_zig//zig/settings:mode=release_fast
common --stripopt=--strip-all

common:linux --sandbox_add_mount_pair=/tmp
common:macos --sandbox_add_mount_pair=/var/tmp

common:remote --jobs=500
common:remote --extra_execution_platforms=@llvm//:rbe_platform

common:executor_timing_logs --//:executor_timing_logs=true

test --test_output=errors
